/* GENERAL */

* {
    box-sizing: border-box;
    line-height: normal;
}

header {
  position: fixed;
  width: 100%;
  z-index: 99;
}
nav {
    background-color: #64cd8f;
}

body {
  background-color: #EEF3F2;
}

section {
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%; /* main container width set by the % */
    /* min-height: 100vh; */
    /* overflow: auto;  */
    /* section adjusts to content's height */
  }

section:first-child {
    padding: 250px 5%; /* check this !!!! */
}
section:nth-child(2) {
    padding-bottom: 100px;
}

/* FONTS */

body {
    font-family: 'Manrope', sans-serif;
}

nav li p{
    font-family: 'Libre Baskerville', serif;
    font-size: 2em;
}

h2 {
    font-size: 2em;
    font-weight: 500;
    
}

h1 {
    font-size: 4em;
    background-color: black;
    padding: 20px;
}

h1, h2 {
    text-transform: uppercase;
    letter-spacing: -1px;
    color: white;
}

.highlight {
    background-color: black;
    /* padding: 10px; */
    padding: 20px;
}  

h3 {
    color: #64cd8f;
    font-weight: 300;
}

h4 {
    background-color: #64cd8f;
    color: white;
    border-radius: 30px;
    text-align: center;
    padding: 20px;
}

.green-text {
  color: #64cd8f;
}

#submit_form p {
  font-size: 14px;
}

/* NAVBAR */

.nav-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
    
    /* gap: 60px; */
    width: 100%;
    margin: 0 auto;
  }

  .nav-container li {
    margin: auto; 
    list-style: none;
  }

  .nav-container li:first-child {
    flex-grow: 2;
  }

  .nav-container li:nth-child(2) {
    padding: 10px; /* means on mobiles there's a little bit of padding when it wraps */
  }

  .nav-container a {
    text-decoration: none;
    color: black;
  }

  .nav-container a:hover {
    text-decoration: underline;
  }

  /* CARDS */

  .filters {
    padding: 20px 0;
    text-align: center;
    background-color: #EEF3F2;
    box-shadow: 0px 15px 40px -15px #EEF3F2; /* adds a nice subtle fade when scrolling over cards */
  }

  .card-container, .form-container {
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto;
    width: 90%;
    margin: 0 auto;
  }

  .card img {
    width: 150px;
    border-radius: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    /* width: 60%; */
    margin: auto;
    display: block; /* block is neccessary to center image with margin:auto */
  }

  .card {
    border: 3px solid black;
    padding: 50px;
    background-color: white;
  }

  .card p {
    margin: 25px 0;
  }

  .card_rating_text {
    text-align: center;
    color: #3ac162;
  }

/* 
  #card_user label, #card_user input, #card_user textarea, #card_user button {
    display: block;
    width: 80%;
    padding: 5px;
    margin: 0 auto;
  } */


input[type="text"],
input[type="number"],
textarea,
select {
  display: block;
  border: 0.25px solid grey;
  padding: 15px;
  width: 100%;
  background-color: #E5EAE9;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 25px;
  border-radius: 7px;
}

#form_starring {
  margin-bottom: 0;
}

#submit_form p {
  margin: 6px 0 20px 10px;
  /* margin-top: 8px;
  margin-bottom: 20px; */
}

fieldset {
  border: none;
}

#card_user legend {
  background-color: #64cd8f;
  color: 000;
  border-radius: 30px;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 30px;

}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 19px 39px;
  color: #FFF;
  background-color: #64cd8f;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
}



  /* Media Queries */
  @media screen and (max-width: 849px) {
    .card-container {
     
grid-template-columns: auto;   }
  }

  @media screen and (max-width: 1200px) and (min-width: 850px) {
    .card-container {
     
      grid-template-columns: auto auto ;
   
    }
  }

 